__pycache__
.idea
.vscode
.ninja_*
.mypy_cache
*.exe
*.o
*.log
build
build.ninja
objdiff.json
orig/*/*
!orig/*/.gitkeep
/*.txt
ctx.c
**/*.~lock.*
src/asm/*
src/generated/*
src/generated/log.txt
permuter_settings.toml
config/GSAP01-DEBUG/names.csv
config/GSAP01-DEBUG/symbols2.txt
notes/srcfiles.ods
notes/srcfiles.csv
